body{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.container{
    display: flex;
    align-items: center;
    gap: 50px;
}
.arrow{
    height: 150px;
    cursor: pointer;
}
.right{
    transform: rotate(180deg);
}
.frame{
    width: 800px;
    height: 500px;
    overflow: hidden;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, .5);

}
.slider{
    display: flex;
    transition: all 1s ease;
}
.image{
    width: 100%;
    height: 100;
    object-fit: cover;
}